
/* 
========================================================================== 
Mobile-first Design Layout for the Responsive Layout project on TreeHouse. 
Media Queries are for expanding the layout for larger screens.
========================================================================== 
*/

/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}

/* Body */

body {
    background-color: #fafafa;
    font-family: 'Amaranth', sans-serif; 
    color: #525252;
}

a {
  text-decoration: none;
  transition: all .5s;
}
.nav a:hover {
  color: #f477de;
}



.wrapper {
  text-align: center;
  margin: 0px;

}

li {
  margin: 0;
  border: 2px solid #ededed;
  padding: 1rem;
  font-size: 0.9rem;
  background: #ffffff;

}


/* Header = Contains 2 sections: main-nav and flexboxhead. 
Main-nav contains name and nav. 
Flexboxhead contains header-image and flexboxhead-item, which are the profile image and about me paragraph*/

header {
  background:#f5f4f4;
  margin-top: 1rem;
  padding-top: 20px;
  padding-bottom: 1rem;

}

.nav {
    
  min-height: 30px;
  justify-content: space-around; 
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
  margin: 0.25rem auto;
  padding: 1rem;
  border: none;
  
 
}

.name {
  background: #f5f4f4;
  border: none;
}

.header-image {
    border: 0.25rem;
    padding: 2rem;

}

/* Link Styles Within Header */

  .nav a {
    text-decoration: none;
    transition: all .5s;
  }
  .nav a:hover {
    color: #f477de;
  }



/* Main = contains Portfolio and flexbox-main.
Within flexbox-main are projects. */


main {
padding: 0;
margin: 0;

}


img {
    max-width: 250px;
    padding: 0;
    margin: 0;
}

h3, h4 {
  padding-top: 1rem;
  border: 0;
  margin: 1rem;
}



p {
    color: #a8a8a8;
    padding: 0.5rem 0.5rem;
    margin: auto;
    line-height: 1.5;
}

.flexbox-main{
  display: flex;
  flex-wrap: wrap;

}

.projects {
  display: block;
  margin: 20px 10px;
  max-width: 100%;
  padding-top: 5px;

}



/* Footer */

/* 
contains flexboxcontact with moreinfohead, moreinfo, and contactinfo. 
Then flexbox-footer-nav with fname and fnavlist, and fnavlist items backtotop and full */

footer {
  background: #f5f4f4;
  margin-top: 1rem;
  padding-top: 1rem;

}

.contactinfo {

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #525252;
  padding: 0;
}


/* Student Name and Back to Top */

.flexbox-footer-nav { 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  padding: 0 5px;
  
  border-top: #525252 dashed 1px;
  background: #f5f4f4;


}

.fname { /* footer h2 student name */
  
  margin-left: 4px;
  margin-top: 4px;
  font-size: 0.9rem;
}

.fnavlist {
  
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  flex: 1;
  text-align: right; /*the only thing making 'back to top' go almost to the right */


}


.fnavlist li {
  
  background: #f5f4f4;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 0.9rem;

}

.backtotop { /* FNAV LIST ITEM mobile only footer nav */
  margin: 0;
 }



.full { /* FNAV LISTE ITEM full screen footer nav gets hidden on mobile */
  display: none;
}


/* link styles */

.fnavlist a {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s;

}

.fnavlist a:hover {
  color: #f477de;

}






/* 
========================================================================== 

Media Queries 

==========================================================================
*/



/* --------------------------- 768px+ Wide Screens */



@media screen and (min-width: 768px){

  header {
    padding-top: 0;
  }

  /* give some space for the header from top of page */
  header h2 {
    padding-top: 1rem;
    

  }



 

  /* make nav list horizontal */

  nav, li{
    display: inline-flex;
    background: #f5f4f4;
    border: none;
    
  }

  /*Header flexbox for profile image and paragraph about me */

.flexboxhead {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse; /* reverses header image and p */
    
    width: 100%;
    justify-content: space-between;
    align-items: flex-start; /* fills box vertically */
    align-content: center;
    padding: 0 10px;
    
    
}

.flexboxhead-item {
  flex-wrap: nowrap;
  flex-basis: 50%;

  text-align: left;
  
  margin: 0;
  border: 0;
  

}

.header-image {
  max-width: 50vw;
  max-height: 30vh;
  padding: 2px 10px;

}





/* Portfolio Section */

#portfolio {
  background-color: white;
  padding: 0 10px;
  

}

h3 {
  border-top: 1rem;
  padding-top: 1rem;
  margin: 0;

}

  /* main articles are in a grid that are 2 sections wide */



  .flexbox-main { /* main flexbox for content */
    display: flex;
    flex-wrap: wrap;
      
   
    background-color: white;

  }

  .projects { /* each item in the flexbox-main flexbox */
    flex-wrap: wrap;
    width: calc(50% - 20px);
    margin: 0 auto;
  }

  .projects img {
    max-width: 45vw;
  }

 
  /* Contact Section reorganizing */

  .flexboxcontact { /* items are moreinfohead, moreinfo and contactinfo */
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

.moreinfohead {
  text-transform: uppercase;
  font-weight: bold;

}

.moreinfo {
  flex-wrap: wrap;
  flex-basis: 50%;
  padding-left: 2rem; /* squish p into centered box */
  padding-right: 2em;

}

.contactinfo, .moreinfohead{ /* puts header and paragraphs on sep lines */
  flex-wrap: nowrap;
  flex-basis: 100%;
  
  padding: 20px;
  border: 1rem;
}

  
  /* footer now has added navigation sections Home Portfolio Contact and Skills */

  .fnavlist {
    margin: 0;
    justify-content: space-between;
    width: 100%; /* this makes the bottom nav stretch the width */
    text-align: right;
    border: none; /* gets rid of overlapping border */
  
  }

.flexbox-footer-nav {
  display: flex;
  flex-direction: row;
  border-top: #525252 dashed 1px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;


}
.name {
  margin-left: auto;
  float: left;
  width: 100%;
  padding-top: 32px;
  padding-left: 0;
  font-size: 0.9rem;
  flex-grow: 2;
  

}

.backtotop{ /* Back to Top Link gets hidden */
  display: none;

}
.full { /* New nav with Home Portfolio Contact Skills gets shown */
  display: flex;
  
  padding: 10px;
  margin: 20px;
  
  

}



}
/*
=============================================================================================================
*/

/* --------------------------- 1024 Wide Screens */

@media screen and (min-width: 1024px){

  /* Navigation is horizontal on one line */

    /* make nav list horizontal */
    
    .main-nav, .nav{
      flex-direction: row;
      display: inline-flex;
      flex-wrap: nowrap;
      width: 100%;
      background: #f5f4f4;
      border: none;
      justify-content: space-between;
      padding-top: 0;
      
    }
    .name {
      margin: 4px;
      text-align: left;
      font-size: 0.9rem;
      padding: 32px;
      padding-top: 16px;
      font-size: 1.5rem;
    }

   

  /* Header About Me and Image to match tablet form */

    /*------Header flexbox for profile image and paragraph about me */

.flexboxhead {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse; /* reverses header image and p */
  
  width: 100%;
  justify-content: space-between;
  align-items: flex-start; /* fills box vertically */
  align-content: center;
  padding: 0 20px;
  
  
}

.flexboxhead-item {
flex-wrap: nowrap;
flex-basis: 50%;

text-align: left;

margin: 0;
border: 0;


}

.header-image {

max-height: 250px;
padding: 2px 10px;
padding-right: 10px;
padding-bottom: 10px;

}

  /* Portfolio is 3 columns wide */


    /* --------main articles are in a grid that are 3 sections wide */



    .flexbox-main { /* main flexbox for content */
      display: flex;
      flex-wrap: wrap;
      background-color: white;
  
    }
  
    .projects { /* each item in the flexbox-main flexbox */
      flex-wrap: wrap;
      width: calc(33.333% - 20px);
      margin: 0 auto;
    }
  
    .projects img {
      max-width: 30vw;
    }









}


